html{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #f7f7f7;
	color: #333;
}

body{
	margin: 0 auto;
	padding: 0px;
	max-width: 1100px;
}